
body {
	.product-menu {
		.panel-heading .panel-title > .panel-toggler {
			.category-name, .site-name {
				color: red;
			}
		}
	}
	
	
	.product-menu {
	
	background-color: green;
	
	}
	
	.sidebar, .sidenav-menu
	{
	
		background-color: blue;
	
	}
	
}
